<table>
  <% @users.each do |user| %>
    <tr>
      <td>
        <%= user.name %>
      </td>
      <td>
        <%= user.email %>
      </td>
      <td>          
        <%= user.age %>
      </td>
      <td>
        <%= link_to "Edit", edit_user_path(user.id) %>  
        <%= link_to "Delete", user_path(user.id), data: { confirm: 'Are you sure want to delete?' },
                                                 :method => :delete %>
      </td>
    </tr>
  <% end %>
</table>